/* ******************INDSTILLINGER For opgave 1-20*************** */
/* ***************Det er herunder du skal rette:***************** */

/*-------------------------------boks 1--------------------------------*/

.box1 .content p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-shadow: 2px 2px 8px magenta;
}
/*-------------------------------boks 2--------------------------------*/

.box2 .content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
}

/*-------------------------------boks 3--------------------------------*/

.box3 .content p {
  color: green;
  font-size: 1.4rem;
  text-shadow: 2px 2px 4px lightgreen;
  text-indent: 2rem;
}
.box3 .content p::first-letter {
  color: rgb(60, 98, 238);
  font-size: 3rem;
  font-weight: bold;
}

/*-------------------------------boks 4--------------------------------*/

.box4 .content {
  color: red;
  font-size: 1.3rem;
  text-transform: uppercase;
}
/*-------------------------------boks 5--------------------------------*/

@font-face {
  /*Her har jeg skrevet @font-face koden for dig - i den næste opgave skal du selv skrive den*/
  font-family: minFont;
  src: url("elriolobo/elriott2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box5 .content {
  font-family: "minFont", serif;
  font-size: 4rem;
  font-weight: bold;
  color: orange;
}

/*-------------------------------boks 6--------------------------------*/

@font-face {
  font-family: 'russiano';
  src: url('russiano-webfont.woff2') format('woff2'),
        url('russiano-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.box6 .content {
  color: red;
  font-family: "Russian";
  font-size: 3rem;
  font-weight: bold;
}  /*Her skriver du koden og bruger fonten (minAndenFont)*/


/*-------------------------------boks 7--------------------------------*/

.box7 .content {
  color: rgb(18, 131, 204);
  font-family: "Krona One", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 5px 0 0 10px;
}

/*-------------------------------boks 8--------------------------------*/

.box8 .content {
  color: rgb(163, 1, 249);
  font-family: "Pacifico", italic;
  font-size: 3.5rem;
}

/*-------------------------------boks 9--------------------------------*/

.box9 .content p{
  background-color: rgb(226, 247, 177);
  font-size: 1.1rem;
  line-height: 1.8rem;
}

/*-------------------------------boks 10--------------------------------*/

.box10 .content {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  background-color: rgb(240, 255, 255);
}

/*-------------------------------boks 11--------------------------------*/

.box11 .content a {
  color: orangered;
  text-decoration: none;
  font-weight: bold;
}

/*-------------------------------boks 12--------------------------------*/

.box12 .content {
  background-image: url("bg_images/himmel.jpeg");
  background-size: cover;
  font-size: 2rem;
  font-weight: bolder;
  text-align: start;
  color: rgb(178, 36, 36);
  padding: 10px;
}

/*-------------------------------boks 13--------------------------------*/

.box13 .content {
  /*Her styles teksten (størrelse og "weight")*/
  font-size: 4rem;
  font-weight: bold;
  text-align: start;
  color: transparent;
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url("bg_images/himmel.jpeg");
  /*Her indsættes baggrundsbilledet som fyld i teksten og teksten gøres transparent*/
  background-size: cover;
  background-clip: text;
}
/*-------------------------------boks 14--------------------------------*/

.box14 .content {
  /*Her indsættes gradient vha. background-image*/
  background-image: linear-gradient(rgb(248, 79, 223), rgb(255 165 120),rgb(255, 0, 0));
  /*Her styles teksten*/
  font-size: 2rem;
  font-style: italic;
  color: white;
  text-align: end;
  padding: 5px 10px;
}

/*-------------------------------boks 15--------------------------------*/

.box15 .content {
  /*Her indsættes de to baggrunde vha. background separeret af komma - husk at den der skal ligge øverst skal stå først*/

  /* størrelse på de to baggrunde separeret af komma */

  /* skal baggrundsbilledet gentages? */

  /* Hvor skal baggrundsbilledet placeres? */

  /*Her styles teksten*/
}

/*-------------------------------boks 16--------------------------------*/

.box16 .content {
  /*Her indsættes gradient vha. background-image*/
}

/*-------------------------------boks 17--------------------------------*/

.box17 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: space-around;
  /*Kode som sætter baggrundsbillede (himmel.jpg ind)    */
}

/*Kunne gøres smartere, men så blev det lidt for besværligt for de studerende:*/

.box17 .content .kvadrat1 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt selv blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

.box17 .content .kvadrat2 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

/*-------------------------------boks 18--------------------------------*/

.box18 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: center;
  /*Indsæt blåt baggrundsbillede*/
}

.box18 .content .kvadrat {
  /*Styling af boksen: width & height*/

  /*Indsæt blomsten med background-image og background-size*/

  /*Brug filter så blomsten får en sepia toning*/
}

/*-------------------------------boks 19--------------------------------*/

/*Her kan du lave din egen styling*/

/*-------------------------------boks 20--------------------------------*/

/*Her kan du lave din egen gradient*/
